@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "variables";
@import "breakpoints";
@import "modal";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8fc;
}
header{
    @extend .between; // between clasının özelliklerini aktardık.
    padding: 20px;
    gap: 20px;
    font-size: 21px;
.left{
    display: flex;
    align-items: center;
    gap: 10px;
    i{
        font-size: 29px;
    }
    img{
        width: 50px;
    }
}
.middle{
    form{
        display: flex;
        background-color: rgb(235, 234, 234);
        padding: 6px 9px;
        border-radius: 10px;

        input{
            border: none;
            outline: none;
            font-size: 18px;
            background-color: transparent;
        }
    }

    @include sm() {
        display: none;
    }
}
.right{
    @extend .between;
    gap: 15px;

    i{
        @extend .icon
    }
    img{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }
}
}
//ana içerik alanı
section{
    display: flex;
    gap: 20px;
}
//sol navigasyon alanı
nav{
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 40px;

    @include sm{
        padding: 0px;
        padding-left: 6px;
    }

    .create{
        background-color: $light-blue;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        gap: 20px;
        cursor: pointer;
        transition: box-shadow .3s;
        &:hover{
            box-shadow: 2px 2px 10px gray;
        }
    }
    ul{
        // elemanları alt alta sıralyıp aralarına boşluk verne
        //1) flex ile
        // display: flex;
        // flex-direction: column;
        //2) grid kullanımı
        display: grid;
        gap: 16px;

        li{
            cursor: pointer;

            label{
            display: flex;
            gap: 12px;
            padding: 8px;
            margin-left: 4px;
            border-radius: 0 15px 15px 0;
            cursor: pointer;
            &:hover{
                background-color: $light-blue;
            }
            }
            input{
                display: none;
            }
            // eğer ki içinde inputu tikli olan li elemanı varsa stilleri uygula.
            &:has(input:checked) label {
                background-color: $light-blue;
            }
        }
    }

    .bottom{
        margin-left: 8px;
    }

    
}

//js ile eklediğimiz hide class ı aktifse bütün yazıları kaldır
.hide{
    span{
        display: none;
    }
}
//orta > mail alanı
main{
    flex-grow: 1; //flex elemanın büyümesine izin verir.

    @include sm {
        margin-right: 20px;
    }

    .top{
        @extend .between;
        background-color: white;
        border-radius: 10px 10px 0 0;
        padding: 8px 16px;

        i{
            @extend .icon;
        }

        .left, .right{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .mails{
        background-color: $gray;
        height: 80vh;
    }
}
// bir mail
.mail{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid white;
    column-gap: 5px;
    cursor: pointer;

    #star{
        color: gold;
    }
    &:hover{
        box-shadow: 0 0 30px rgba(128, 128, 128, 0.4);
    }
    .info{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .content{
        display: flex;
        align-items: center;
        gap: 5px;
        white-space: nowrap;
        overflow: hidden; // taşan yazıları gizler

        .title{
            font-weight: bold;
        }
        .desc{
            overflow: hidden; // taşan yazıları gizler
            white-space: nowrap; // tek satırda olmasını sağlar
            text-overflow: ellipsis; // eğer ki taşan yazı var ise ... koyar

        }
    }
    .time{
        text-align: end;
        white-space: nowrap;
    }
    // sil butonunu mail hoverlanınca göster
    #button-wrapper{
        display: none;
    }
    button{
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all .3s;
        padding: 4px 10px;
        border-radius: 5px;
        &:hover{
            background-color: rgb(201, 200, 200);
        }
        
    }
    &:hover > #button-wrapper{
        display: flex;
        justify-content: end;
    }
    &:hover > .time{
        display: none;
    }
}
// sağ > yan içerik
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px;

    @include sm{
        padding: 12px;
    }

    span{
        background-color: $dark-gray;
        height: 2px;
        width: 100%;
    }

    img{
        @extend .icon;
        cursor: pointer;
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    @include sm{
        display: none;
    }
}
.warn{
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
}